body {
   font-family: "맑은 고딕", "고딕", "굴림";
}

header {
    background-color: skyblue;
    width:80%;
    margin-right:auto;  
    margin-left:auto;
    padding:10px;
    overflow:hidden;
    /* ctrl+(shift)/ */

  /*  padding-left: 30px;
    padding-top:10px;
    padding-bottom: 20px;*/
    /*padding : 10px 20px 50px 60px;*/  /*top 기준 시계방향*/
}

/*header의 자손인 h1 태그에 적용*/
/*
    조상-자손 관계 : spacebar
    부모 자식 : > 
    */

h1 {
    /* background-color: blueviolet; */
    font-size:2em;
}

header h1 {
    width:40%;
    color:white;
    float:left;
}

/*header의 자식인 nav에 적용*/
header>nav {
    /* background-color: chartreuse; */
    width:50%;
    float:right;       
}

nav > ul{
    list-style-type:none;
}

nav ul li {
    display:inline; /*블럭,인라인 요소*/
    float :left;
    margin:15px;
}   

a { /*nav a     or      nav ul li a*/
    text-decoration:none;
    color:white;
}